In [1]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\usuario\anaconda3\lib\site-packages (5.17.0)
Requirement already satisfied: packaging in c:\users\usuario\anaconda3\lib\site-packages (from plotly) (20.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\usuario\anaconda3\lib\site-packages (from packaging->plotly) (2.4.7)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
import plotly.express as px

In [4]:
warnings.filterwarnings('ignore')

In [5]:
df_pais = pd.read_csv('continents2.csv')

In [6]:
df_pais

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [7]:
df_pais.rename(columns = {'alpha-3':'Code'},inplace=True)

In [8]:
sub = df_pais[['Code','region','sub-region']]

Produção

In [9]:
df_prod_renov = pd.read_csv('modern-renewable-prod.csv')

In [10]:
df_prod_renov

,Entity,Code,Year,Electricity from wind (TWh),Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from other renewables including bioenergy (TWh)
0,Afghanistan,AFG,2000,0.0,0.31,0.00,0.00
1,Afghanistan,AFG,2001,0.0,0.50,0.00,0.00
2,Afghanistan,AFG,2002,0.0,0.56,0.00,0.00
3,Afghanistan,AFG,2003,0.0,0.63,0.00,0.00
4,Afghanistan,AFG,2004,0.0,0.56,0.00,0.00
...,...,...,...,...,...,...,...
7990,Zimbabwe,ZWE,2016,0.0,2.95,0.01,0.36
7991,Zimbabwe,ZWE,2017,0.0,3.93,0.01,0.32
7992,Zimbabwe,ZWE,2018,0.0,5.00,0.01,0.39
7993,Zimbabwe,ZWE,2019,0.0,7.26,0.01,0.38
7994,Zimbabwe,ZWE,2020,0.0,7.26,0.01,0.38

In [11]:
nome_coluna = {
    'Entity':'Pais',
    'Year':'Ano',
    'Electricity from wind (TWh)': 'Eolica',
    'Electricity from hydro (TWh)':'Hidroeletrica',
    'Electricity from solar (TWh)':'Solar',
    'Electricity from other renewables including bioenergy (TWh)':'Outras Fontes'
}

In [12]:
df_prod_renov.rename(columns=nome_coluna,inplace=True)

In [13]:
df_prod_renov

             Pais Code   Ano  Eolica  Hidroeletrica  Solar  Outras Fontes
0     Afghanistan  AFG  2000     0.0           0.31   0.00           0.00
1     Afghanistan  AFG  2001     0.0           0.50   0.00           0.00
2     Afghanistan  AFG  2002     0.0           0.56   0.00           0.00
3     Afghanistan  AFG  2003     0.0           0.63   0.00           0.00
4     Afghanistan  AFG  2004     0.0           0.56   0.00           0.00
...           ...  ...   ...     ...            ...    ...            ...
7990     Zimbabwe  ZWE  2016     0.0           2.95   0.01           0.36
7991     Zimbabwe  ZWE  2017     0.0           3.93   0.01           0.32
7992     Zimbabwe  ZWE  2018     0.0           5.00   0.01           0.39
7993     Zimbabwe  ZWE  2019     0.0           7.26   0.01           0.38
7994     Zimbabwe  ZWE  2020     0.0           7.26   0.01           0.38

[7995 rows x 7 columns]

In [16]:
producao_energia = pd.merge(df_prod_renov, sub, on='Code', how='inner')

In [17]:
producao_energia

,Pais,Code,Ano,Eolica,Hidroeletrica,Solar,Outras Fontes,region,sub-region
0,Afghanistan,AFG,2000,0.0,0.31,0.00,0.00,Asia,Southern Asia
1,Afghanistan,AFG,2001,0.0,0.50,0.00,0.00,Asia,Southern Asia
2,Afghanistan,AFG,2002,0.0,0.56,0.00,0.00,Asia,Southern Asia
3,Afghanistan,AFG,2003,0.0,0.63,0.00,0.00,Asia,Southern Asia
4,Afghanistan,AFG,2004,0.0,0.56,0.00,0.00,Asia,Southern Asia
...,...,...,...,...,...,...,...,...,...
6935,Zimbabwe,ZWE,2016,0.0,2.95,0.01,0.36,Africa,Sub-Saharan Africa
6936,Zimbabwe,ZWE,2017,0.0,3.93,0.01,0.32,Africa,Sub-Saharan Africa
6937,Zimbabwe,ZWE,2018,0.0,5.00,0.01,0.39,Africa,Sub-Saharan Africa
6938,Zimbabwe,ZWE,2019,0.0,7.26,0.01,0.38,Africa,Sub-Saharan Africa
6939,Zimbabwe,ZWE,2020,0.0,7.26,0.01,0.38,Africa,Sub-Saharan Africa

In [18]:
producao_energia.to_csv('producao_energia.csv', index=False)

In [ ]:
sub-region