In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
import plotly.express as px

In [2]:
df_pais= pd.read_csv('continents2.csv')

In [3]:
df_pais

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [4]:
df_pais.rename(columns = {'alpha-3':'Code'},inplace=True)

In [5]:
sub = df_pais[['Code','region','sub-region']]

In [6]:
df_pais.columns

Index(['name', 'alpha-2', 'Code', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [7]:
df= pd.read_csv('modern-renewable-energy-consumption.csv')

In [8]:
df

,Entity,Code,Year,Wind Generation - TWh,Solar Generation - TWh,Geo Biomass Other - TWh,Hydro Generation - TWh
0,Africa,NaN,1965,0.000000,0.000000,0.000000,13.905635
1,Africa,NaN,1966,0.000000,0.000000,0.000000,15.510004
2,Africa,NaN,1967,0.000000,0.000000,0.000000,16.190636
3,Africa,NaN,1968,0.000000,0.000000,0.000000,18.938341
4,Africa,NaN,1969,0.000000,0.000000,0.000000,22.100890
...,...,...,...,...,...,...,...
4998,World,OWID_WRL,2016,962.227395,328.385208,560.681082,4018.671591
4999,World,OWID_WRL,2017,1140.310949,446.054164,593.790980,4066.718275
5000,World,OWID_WRL,2018,1269.520536,576.951248,632.173911,4176.687496
5001,World,OWID_WRL,2019,1418.170046,707.918495,663.134292,4227.883280
5002,World,OWID_WRL,2020,1591.213512,855.724690,700.068651,4296.802045

In [9]:
df=df.dropna()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4219 entries, 56 to 5002
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Entity                   4219 non-null   object
 1   Code                     4219 non-null   object
 2   Year                     4219 non-null   int64
 3   Wind Generation - TWh    4219 non-null   float64
 4   Solar Generation - TWh   4219 non-null   float64
 5   Geo Biomass Other - TWh  4219 non-null   float64
 6   Hydro Generation - TWh   4219 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 263.7+ KB

In [11]:
df['Code'].unique()

array(['DZA', 'ARG', 'AUS', 'AUT', 'AZE', 'BGD', 'BLR', 'BEL', 'BRA',
       'BGR', 'CAN', 'CHL', 'CHN', 'COL', 'HRV', 'CYP', 'CZE', 'DNK',
       'ECU', 'EGY', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'HKG', 'HUN',
       'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'ISR', 'ITA', 'JPN',
       'KAZ', 'KWT', 'LVA', 'LTU', 'LUX', 'MYS', 'MEX', 'MAR', 'NLD',
       'NZL', 'MKD', 'NOR', 'OMN', 'PAK', 'PER', 'PHL', 'POL', 'PRT',
       'QAT', 'ROU', 'RUS', 'SAU', 'SGP', 'SVK', 'SVN', 'ZAF', 'KOR',
       'ESP', 'LKA', 'SWE', 'CHE', 'TWN', 'THA', 'TTO', 'TUR', 'TKM',
       'UKR', 'ARE', 'GBR', 'USA', 'UZB', 'VEN', 'VNM', 'OWID_WRL'],
      dtype=object)

In [12]:
df = df[df['Code'] != 'OWID_WRL']

In [13]:
energia = pd.merge(df, sub, on='Code', how='inner')

In [14]:
energia

,Entity,Code,Year,Wind Generation - TWh,Solar Generation - TWh,Geo Biomass Other - TWh,Hydro Generation - TWh,region,sub-region
0,Algeria,DZA,1965,0.000000,0.000000,0.000000,0.400000,Africa,Northern Africa
1,Algeria,DZA,1966,0.000000,0.000000,0.000000,0.355000,Africa,Northern Africa
2,Algeria,DZA,1967,0.000000,0.000000,0.000000,0.410000,Africa,Northern Africa
3,Algeria,DZA,1968,0.000000,0.000000,0.000000,0.563000,Africa,Northern Africa
4,Algeria,DZA,1969,0.000000,0.000000,0.000000,0.361000,Africa,Northern Africa
...,...,...,...,...,...,...,...,...,...
4158,Vietnam,VNM,2016,0.209800,0.006669,0.068000,66.047574,Asia,South-eastern Asia
4159,Vietnam,VNM,2017,0.268292,0.009371,0.076454,88.762103,Asia,South-eastern Asia
4160,Vietnam,VNM,2018,0.310233,0.113493,0.076454,84.485320,Asia,South-eastern Asia
4161,Vietnam,VNM,2019,0.000484,4.117189,0.000439,67.722484,Asia,South-eastern Asia
4162,Vietnam,VNM,2020,0.000779,9.452731,0.000410,68.964918,Asia,South-eastern Asia

In [15]:
nome_coluna = {
    'Entity':'Pais',
    'Year':'Ano',
    'Wind Generation - TWh': 'Eolica',
    'Hydro Generation - TWh':'Hidroeletrica',
    'Solar Generation - TWh':'Solar',
    'Geo Biomass Other - TWh':'Outras Fontes',
    'region':'Continente',
    'sub-region':'Sub-região'
}

In [16]:
energia.rename(columns=nome_coluna,inplace=True)

In [18]:
energia

,Pais,Code,Ano,Eolica,Solar,Outras Fontes,Hidroeletrica,Continente,Sub-região
0,Algeria,DZA,1965,0.000000,0.000000,0.000000,0.400000,Africa,Northern Africa
1,Algeria,DZA,1966,0.000000,0.000000,0.000000,0.355000,Africa,Northern Africa
2,Algeria,DZA,1967,0.000000,0.000000,0.000000,0.410000,Africa,Northern Africa
3,Algeria,DZA,1968,0.000000,0.000000,0.000000,0.563000,Africa,Northern Africa
4,Algeria,DZA,1969,0.000000,0.000000,0.000000,0.361000,Africa,Northern Africa
...,...,...,...,...,...,...,...,...,...
4158,Vietnam,VNM,2016,0.209800,0.006669,0.068000,66.047574,Asia,South-eastern Asia
4159,Vietnam,VNM,2017,0.268292,0.009371,0.076454,88.762103,Asia,South-eastern Asia
4160,Vietnam,VNM,2018,0.310233,0.113493,0.076454,84.485320,Asia,South-eastern Asia
4161,Vietnam,VNM,2019,0.000484,4.117189,0.000439,67.722484,Asia,South-eastern Asia
4162,Vietnam,VNM,2020,0.000779,9.452731,0.000410,68.964918,Asia,South-eastern Asia

In [19]:
energia.to_csv('consumo_energia.csv', index=False)